// Created by yuhyeongjun on 15. 3. 23..

doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      block scripts
         script(src='https://www.google.com/jsapi')
         script(src='/javascripts/charts.js')
      body
         h1 Qufit Example Google Charts
         #chart_div
