// Created by yuhyeongjun on 15. 3. 23..

doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      block scripts
         script(src='https://www.google.com/jsapi') // Gogole api
         script(src='//code.jquery.com/jquery-1.11.2.min.js') // Jquery 1.x
         script(src='/javascripts/charts.js')
      body
         div(style='text-align:center')
            h1 Qufit Google Charts Examples
            #chart_div
